<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="./custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>DocScan</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">DocScan</a>

    </div>
  </nav>

  <button class="btn waves-effect waves-light" type="submit" id="submitAddWindow">Ajouter
     <i class="material-icons right">library_add</i>
   </button></div>

  <div id="tabresult">
    <table id="restable" class="responsive-table">
    </table>
  </div>


</body>
  <!--catch here item:add-->
  <script>
    require('../mainWindow.js')
  </script>
</html>
